body {
  font-family: "Roobert", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  font-family: "Roobert", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  padding: 0 20px 0;
  margin-bottom: 0;
}

button {
  padding: 0;
  font-family: "Roobert", sans-serif;
  box-sizing: border-box;
}

input {
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

/* Reset the placeholder styles */
input::placeholder,
textarea::placeholder {
  font-weight: 400;
  opacity: 1; /* Reset the default lower opacity */
  font-style: normal; /* Reset to normal font style */
  font-weight: inherit; /* Inherit the font weight */
  text-transform: none; /* Reset text-transform */
}

.progres-bar {
  height: 12px;
  background-color: #fe4a19;
  transition: width 0.3s ease-in-out;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.button {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: 56px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 0 24px;
  gap: 10px;
  /* font-weight: bold; */
  font-weight: 650;
  display: "flex";
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.start-btn {
  background-color: #fe4a19;
}

.qualified {
  display: flex;
  box-sizing: border-box;
  gap: 20px;
  padding: 15px;
  border: 1px solid #027a48;
  background-color: #e0ece2;
  margin-bottom: 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.qualified:hover {
  /* cursor: default; */
  background-color: #c4dace;
}

.back-btn {
  background-color: transparent;
  border: 1px solid #000;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.back-btn:hover {
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

.back-btn:active {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 0px 2px #c5c5c540;
}

.next-btn {
  font-size: 16px;
  display: flex;
  width: 100%;
  color: #fff;
  gap: 10px;
  transition: background-color 0.3s ease;
  max-width: 300px;
  background-color: #fe4a19;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.next-btn:hover {
  background-color: #d43e15;
}

.disabled,
.disabled:hover {
  background-color: grey;
}

.next-btn:active {
  border: 2px solid #eacdc4;
  box-sizing: border-box;
}

.start-btn-mobile,
.start-btn-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  transition: background-color 0.3s ease;
}

.start-btn-mobile:hover,
.start-btn-desktop:hover {
  background-color: #d43e15; /* Adjust the color as needed */
}

.start-btn-mobile:active,
.start-btn-desktop:active {
  border: 2px solid #eacdc4;
  box-sizing: border-box;
}

.unqualified-btn {
  background-color: #fe4a19;
  color: "#fff";
  display: "flex";
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.unqualified-btn:hover {
  background-color: #d43e15; /* Adjust the color as needed */
}

.unqualified-btn:active {
  border: 2px solid #eacdc4;
}

.map-paragraph {
  font-family: "Inter", sans-serif;
  line-height: 27px;
}

.submission-description {
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  color: #475467;
  max-width: 410px;
  line-height: 27px;
  margin-top: 0;
  font-size: 18px;
}

.wrapper-default {
  width: 100%;
  /* box-sizing: border-box; */
  max-width: 790px;
  margin: 0 auto;
  display: flex;
}

.nav-btn-wrapper {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}

.container-with-map {
  gap: 40px;
}

.container-with-cards {
  gap: 20px;
}

.card {
  border: 4px solid transparent;
  border-radius: 8px;
  transition: padding 0.3s background-color 0.3s;
  position: relative;
}

.card-button {
  display: flex;
  height: 80px;
  border: 1px solid #d2d2d2;
}

.card-button-active {
  border: none;
}

.card-active {
  border-color: #fe4a19;
}

.card-active::before {
  background-image: url("../../public/icons/white-checkmark.svg");
  content: "";
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -1px;
  left: -2px;
  background-color: #fe4a19;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px;
}

.card-disabled {
  opacity: 0.5;
  transition: opacity 0.3s ease-out;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.title {
  font-size: 48px;
}

.intro-title-2 {
  font-size: 16px;
}

.google-map-container {
  width: 100%;
  position: relative;
  height: 300px;
}

.logo-container {
  height: 40px;
  width: 40px;
}

.intro-wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column;
  /* max-width: 380px; */
  text-align: left;
}

.intro-boolet-container {
  gap: "16px";
}

.first-and-last-step-wrapper {
  /* min-height: 98vh; */
  justify-content: center;
}

.unqualified-wrapper {
  height: 98vh;
  align-items: center;
  justify-content: center;
}

.container-unqualified {
  gap: 24px;
  /* margin-top: 15vh; */
  /* align-items: center;
  justify-content: center; */
}

.otp-modal {
  position: fixed;
  /* top: -10vh; */
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

.otp-container {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

input::placeholder {
  font-family: "Roobert", sans-serif;
  color: #475467;
  /* font-size: 20px;
  line-height: 24px;
  font-weight: 400; */
}

.input-other-provider-container {
  border: 4px solid transparent;
  border-radius: 12px;
  transition: padding 0.3s, border-color 0.3s;
  position: relative;
}

.input-other-provider-container:not(
    .input-other-provider-container--active
  ):hover {
  border-color: #e6e6e6;
  border-width: 4px;
  opacity: 0.8;
}

.input-other-provider-container:not(
    .input-other-provider-container--active
  ):hover::before {
  background-image: url("../../public/icons/gray-checkmark.svg");
  content: "";
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: #e6e6e6;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  padding: 12px;
  transition: background-color 0.3s;
}

.input-other-provider-container--active {
  border-color: #fe4a19;
  transition: background-color 0.3s;
}

.input-other-provider-container--active::before {
  background-image: url("../../public/icons/white-checkmark.svg");
  content: "";
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: #fe4a19;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 12px;
}

.form-input {
  padding: 20px 10px;
  border: 1px solid #d0d5dd;
  border-radius: 4px;
  outline: none;
}

.form-input:hover {
  box-shadow: 0px 0px 0px 2px #d0d5dd66;
}

.form-input:focus {
  border: 1px solid #fe4a19;
  box-shadow: 0px 0px 0px 2px #fe4a194d;
}

input {
  border: 1px solid #d0d5dd;
}

input:focus {
  border: 1px solid #fe4a19;
}

.unqualified-banner {
  background-color: #fff3f2;
  transition: background-color 0.3s ease;
}

.unqualified-banner:hover {
  background-color: #ffd4d1;
}

.unqualified-banner .tooltip {
  position: absolute;
  background-color: white;
  color: #505050;
  font-family: Inter, sans-serif;
  text-align: left;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0px 12px 16px -4px #0a0d1214;
  width: 329px;
  z-index: 10;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  line-height: 18px;
}

.unqualified-banner:hover .tooltip {
  opacity: 1;
  transform: translateY(0);
}

.qualified::after {
  content: "Your home is pre-qualified based on your home and energy details and may be a good fit to save money with solar. Keep in mind, the utility company has the final say on who qualifies for $0-down solar.";
  position: absolute;
  background-color: white;
  color: #505050;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 329px;
  z-index: 10;
  box-shadow: 0px 12px 16px -4px #0a0d1214;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.qualified:hover::after {
  opacity: 1;
  transform: translateY(0);
  cursor: default;
}

/* Regular */
@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

/* Heavy */
@font-face {
  font-family: "Roobert";
  src: url("../../public/fonts/roobert/Roobert-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
