body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body,#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

code {
  font-family: 'Roboto', monospace;
}

button {
  padding: 0;
}
